on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

name: Continuous integration

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - feature: nrf51,
            target: thumbv6m-none-eabi
            rust: nightly

          - feature: nrf52810,
            target: thumbv7em-none-eabi
            rust: nightly

          - feature: nrf52832,
            target: thumbv7em-none-eabihf
            rust: nightly

          - feature: nrf52840,
            target: thumbv7em-none-eabihf
            rust: nightly

          - feature: nrf52840,fast-ru,
            target: thumbv7em-none-eabihf
            rust: nightly

    steps:
      - uses: actions/checkout@v6

      - name: Setup rust
        uses: ./.github/workflows/setup-rust
        with:
          target: "thumbv6m-none-eabi,thumbv7em-none-eabi,thumbv7em-none-eabihf"

      - name: Run rust check
        run: cargo build --features=${{ matrix.feature }} --target=${{ matrix.target }}
