on:
  # push:
  #   branches: [master]
  # pull_request:
  #   branches: [master]

  # Temporarily disable ci
  push:
    branches-ignore:
      - "**"

name: Test Suite

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup rust
        uses: ./.github/workflows/setup-rust
        with:
          target: "thumbv6m-none-eabi,thumbv7em-none-eabihf"

      - name: Run rust tests
        run: cargo test --features=nrf52832
